@model IEnumerable<Category>
@{
    var i = 0;
}
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Category</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Category Name</th>
                        <th scope="col">Movies</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(++i)</th>
                            <td>@item.Name</td>
                            <td><a class="icon-link gap-1 icon-link-hover stretched-link" href="/Customer/Home/AllCategoryMovie/@item.Id">All Movies </a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
