@model Movie
<div class=" col-md-7 col-lg-12 py-3 m-5">
    <h1> Add New Movie </h1>
    <form method="post" enctype="multipart/form-data">
        <div class="col-sm-6 mb-2">
            <label for="MovieName" class="form-label">Movie Name</label>
            <input type="text" class="form-control" id="MovieName" name="Name" required>
            <div class="invalid-feedback">
                Valid name is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="Description" class="form-label">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" />
        </div>
        <div class="col-sm-6 mb-2">
            <label for="Price" class="form-label">Price</label>
            <input type="number" min="0" class="form-control" id="Price" name="Price" required>
            <div class="invalid-feedback">
                Valid Price is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="StartDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="StartDate" name="StartDate" required>
            <div class="invalid-feedback">
                Valid Start Date is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="EndDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="EndDate" name="EndDate" required>
            <div class="invalid-feedback">
                Valid End Date is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="CategoryId" class="form-label">Category</label>
            <select class="form-control" id="CategoryId" name="CategoryId" required>
                @foreach (var item in ViewBag.category)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <div class="invalid-feedback">
                Valid Category is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="CinemaId" class="form-label">Cinema</label>
            <select class="form-control" id="CinemaId" name="CinemaId" required>
                @foreach (var item in ViewBag.cinema)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <div class="invalid-feedback">
                Valid Cinema is required.
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <label for="MovieStatus" class="form-label">Movie Status</label>
            <select class="form-control" id="MovieStatus" name="MovieStatus">
                <option value="0">Upcoming</option>
                <option value="1">Available</option>
                <option value="2">Expired</option>

            </select>
        </div>

        <div class="col-sm-6 mb-2">
            <label for="ImgUrl" class="form-label">Movie Img</label>
            <input type="file" class="form-control" id="ImgUrl" name="ImgUrl" onchange="previewImage(event)">
            <img id="imgPreview" src="#" alt="Image Preview" class="img-thumbnail mt-2" style="display: none; max-height: 200px;" />
        </div>
        <div class="col-sm-6 mb-2">
            <label for="TrailerUrl" class="form-label">Trailer Url</label>
            <input type="text" class="form-control" id="TrailerUrl" name="TrailerUrl" required>
            <div class="invalid-feedback">
                Valid Trailer Url is required.
            </div>
        </div>


        <br />
        <button class="btn btn-primary btn-lg px-lg-5 me-sm-3" type="submit">ADD</button>
    </form>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById('imgPreview');

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
